/* 

show-category


*/

.saved-bg {
  background-color: rgba(255, 255, 255, 0.6);
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
}

.saved-upper-photo {
  background-image: url("../../assets/saved-items-bg.jpg");
  background-size: 100%;
  padding: 80px 30px 30px 30px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  height: 100dvh;
}

.delete-saved-btn {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background: transparent;
}

.delete-saved-btn:hover {
  cursor: pointer;
  background-color: rgb(90, 122, 98);
  border-color: rgb(90, 122, 98);
  transition: 0.3s ease-in-out;
}

.category-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  height: fit-content;
  font-size: 10px;
}

.descriptions {
  display: flex;
}

.descriptions h2,
button {
  margin-left: 15px;
}

.category-dropdown button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.category-dropdown div {
  display: block;
  color: black;
  padding: 10px 10px;
}

.category-dropdown .show-category {
  /* display: inline-block; */
  position: relative;
}

.category-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.category-items.show-category {
  max-height: 1000px;
}

@media (max-width: 640px) {
  .saved-bg {
    background-color: rgba(255, 255, 255, 0.8);
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
  }

  .categories-spead {
    display: block;
  }

  .saved-upper-photo {
    background-image: url("../../assets/responsive-sv.jpg");
    background-size: cover;
    padding: 80px 30px 30px 30px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    height: 100dvh;
  }

  .delete-saved-btn {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background: transparent;
  }

  .delete-saved-btn:hover {
    cursor: pointer;
    background-color: rgb(90, 122, 98);
    border-color: rgb(90, 122, 98);
    transition: 0.3s ease-in-out;
  }

  .category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
    height: fit-content;
    font-size: 10px;
  }

  .descriptions {
    display: flex;
    flex-direction: column;
  }

  .descriptions h2,
  button {
    margin-left: 15px;
  }

  .category-dropdown button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
  }

  .category-dropdown div {
    display: block;
    color: black;
    padding: 10px 10px;
  }

  .category-dropdown .show-category {
    /* display: inline-block; */
    position: relative;
  }

  .category-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear;
  }

  .category-items.show-category {
    max-height: 1000px;
  }
}
