.about {
  color: black;
  height: 100dvh;
}

.grades-section {
  height: 80vh;
}

.school-section {
  margin-top: 50px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  justify-content: space-around;
}
.description-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-bottom: 20px;
}

.spacer {
  margin-bottom: 20px;
}

.me-section {
  margin-top: -40px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
