.about {
  color: black;
  height: 100dvh;
}

.grades-section {
  height: 80vh;
}

.school-section {
  margin-top: 50px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  justify-content: space-around;
}
.description-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-bottom: 20px;
}

.spacer {
  margin-bottom: 20px;
}

.me-section {
  margin-top: -40px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .about {
    color: black;
    height: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
  }

  .grades-section {
    height: 10vh;
  }

  .school-section {
    margin-top: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
  }

  .spacer {
    margin-bottom: 20px;
  }

  .me-section {
    margin-top: 300px;
  }

  .school-section {
    padding: 40px;
  }

  .school-section h1 {
    font-size: 2em;
  }
}
