.navbar-absolute button,
.navbar-not-landing button,
.navbar-absolute a,
.navbar-not-landing a {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.not-collapsed {
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-absolute {
  position: absolute;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.navbar-not-landing {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.2s ease-in-out;
}

.navbar-absolute button:focus,
.navbar-not-landing button:focus,
.navbar-absolute a:focus,
.navbar-not-landing a:focus {
  outline: none;
}

.nav-no-account-buttons {
  z-index: 4;
  margin: 0 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.black {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30px;
}

.collapsed {
  display: none;
}

@media (max-width: 640px) {
  .navbar-absolute,
  .navbar-not-landing {
    display: flex;
    width: 103%;
    margin-left: -12px;
  }

  .navbar-absolute button,
  .navbar-not-landing button,
  .navbar-absolute a,
  .navbar-not-landing a {
    padding: 2px 8px;
  }

  .not-collapsed {
    display: none;
  }

  .collapsed {
    color: black;
    display: flex;
    height: 30px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
  }

  .drawer-toggle {
    position: absolute;
    margin-left: 90%;
  }
}
