/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video div,
span,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 3.2vw;
}

h2 {
  font-size: 2em;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

.signin-bg {
  height: 100vh;
  background-image: url("./assets/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.login-forms {
  width: 80%;
}

.button-forms {
  width: 40%;
}

.user-cards {
  padding-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 350px;
  text-align: center;
  background: transparent;
  background-color: rgba(198, 220, 231, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-btn {
  margin-left: 114px;
}

.login-btn,
.register-btn,
.guest-menu-btn {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50px;
}

.guest-menu-btn {
  width: 100px;
  border: 1px solid rgb(191, 189, 189);
}

.guest-menu-btn:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}

.login-btn:hover,
.register-btn:hover {
  cursor: pointer;
  background-color: rgb(90, 122, 98);
  border-color: rgb(90, 122, 98);
  transition: 0.3s ease-in-out;
}

.register-card {
  padding-top: 25px;
  height: 500px;
}

.item-box {
  padding: 10px;
}

.account-question-link {
  margin-top: 50px;
}

.user-title {
  font-size: 30px;
  color: black;
  margin-left: -60%;
}

.user-title-register {
  margin-left: -50%;
}

.ai-response {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;
}

.ai-cards {
  border-style: solid;
  margin: 2em;
  padding: 2em;
  border-color: black;
  border-radius: 5px;
  display: block;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

.saved-container {
  border-style: solid;
  margin: 2em;
  padding: 1em;
  border-color: black;
  border-radius: 5px;
  display: block;
  align-items: center;
  height: fit-content;
  width: 28%;
  font-size: 10px;
}

.saved-items {
  display: block;
}

.all-saved-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.navbar,
.login-nav,
.register-nav {
  /* background: transparent; */
  /* background-image: url("./assets/background-1.jpg"); */
  position: absolute;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.navbar button,
.navbar a {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

/* .navbar button:hover {
  background-color: #555;
  border-radius: 5px;
} */

.navbar button:focus,
.navbar a:focus {
  outline: none;
}

.navbar .profile-button {
  margin-left: 10px;
}

.AI-form {
  margin-top: 50px;
  border: 1px solid black;
  height: 80px;
  padding: 0px 30px;
  margin-right: 50px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.form-item {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-left: 1px solid black;
}

select {
  /* Base styles for the select element */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 13px;
  color: #333;
  /* Adjust width as needed */
}

select:hover {
  border: 1px solid black;
  transition: 0.5s ease;
}

.budget-picker:focus {
  /* Styling for focus state */
  outline: none;
  border-color: #999;
}

.calendar {
  margin-left: 10px;
}

.guest {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  width: 200px;
}

.guests-picker {
  display: flex;
}

.guest-button {
  height: 20px;
}

.guest-mod {
  display: flex;
  margin-left: 2px;
  transform: translateY(20px);
}

.submit-ai {
  max-height: 20px;
  margin-left: 0;
}

.guest-num-display {
  margin-right: 10px;
  padding: 0px 0px 30px 10px;
}

.landing-sections {
  height: 100vh;
  width: 100%;
}

.section-1 {
  color: white;
  height: 110vh;
  background-image: url("./assets/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-2 {
  height: 480px;
  background-color: white;
}

.section-3 {
  height: 80vh;
  background-color: pink;
}

.card-landing {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 30vh;
  margin-right: 100px;
  margin-left: 100px;
  display: inline-block;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-tagline {
  margin-left: 50px;
  transform: translateY(60vh);
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
  height: fit-content;
  white-space: nowrap;
  /* overflow: hidden; */
  /* overflow-x: scroll; */
  /* height: 100vh; */
  margin-top: 30px;
  animation: 40s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-card-photo {
  /* position: absolute; */
  width: 200px;
  height: 200px;
}

.carousel-cards {
  cursor: pointer;
  border-style: solid;
  padding: 2rem;
  margin: 0 20px;
  width: 300px;
  height: 340px;
}

.reviews {
  margin: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-name,
.review-city,
.review-country,
.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card {
  margin-top: 100px;
}

/* .review-btns {
  display: flex;
  align-items: center;
  transform: translateY(-80px);
}

.review-back-btn {
  margin-right: 600px;
  margin-left: 250px;
} */

.generate-section {
  transform: translateY(200px);
  height: 100vh;
}

.landing-page-generate {
  transform: translateY(-200px) !important;
}

.results-section {
  display: grid;
  height: 100vh;
  background-color: pink;
}

.sticky {
  z-index: 1;
  position: fixed;
  background-color: rgb(177, 199, 214);
}

.img-fade {
  display: none;
  opacity: 0;
  transition: display 0.5s ease;
}

.img-fade.active {
  display: inline;
  opacity: 1;
}
