/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video div,
span,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
}

h1 {
  font-size: 3.2vw;
}

h2 {
  font-size: 2em;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

.signin-bg {
  height: 100vh;
  background-image: url("./assets/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.login-forms {
  width: 80%;
}

.button-forms {
  width: 40%;
}

.user-cards {
  padding-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 350px;
  text-align: center;
  background: transparent;
  background-color: rgba(236, 240, 238, 0.644);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-btn {
  margin-left: 114px;
}

.login-btn,
.register-btn,
.guest-menu-btn,
.saved-btn {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50px;
}

.guest-menu-btn {
  margin-left: 20px;
  width: 100px;
  border: 1px solid rgb(191, 189, 189);
}

.guest-menu-btn:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}

.pre-guest-btn {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.login-btn:hover,
.register-btn:hover,
.saved-btn:hover {
  cursor: pointer;
  background-color: rgb(90, 122, 98);
  border-color: rgb(90, 122, 98);
  transition: 0.3s ease-in-out;
}

.register-card {
  padding-top: 25px;
  height: 500px;
}

.item-box {
  padding: 10px;
}

.account-question-link {
  margin-top: 50px;
}

.user-title {
  font-size: 30px;
  color: black;
  margin-left: -60%;
}

.user-title-register {
  margin-left: -50%;
}

.ai-response {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;
}

.ai-cards {
  border-style: solid;
  margin: 2em;
  padding: 2em;
  border-color: black;
  border-radius: 5px;
  display: block;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

/* PickedSavedPage Styling */

.category-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  height: fit-content;
  font-size: 10px;
}

.category-title {
}

.category-dropdown button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.category-dropdown div {
  display: block;
  color: black;
  padding: 10px 10px;
}

.category-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s linear;
}

.category-items.show-category {
  max-height: 1000px; /* Adjust this value based on your content */
}

.category-dropdown .show-category {
  /* display: inline-block; */
  position: relative;
}

/*                    */

.saved-btn {
  margin-top: 20px;
  width: 100px;
}

.saved-container {
  display: block;
  border-style: solid;
  padding: 1em;
  border-color: black;
  border-radius: 5px;
  height: fit-content;
  width: 220px;
  font-size: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.saved-buttons {
  display: flex;
  justify-content: space-around;
}

.saved-name {
  font-size: 20px;
}

.all-saved-container {
  display: flex;
  padding: 3em;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* width: 100%; */
}

.navbar-absolute,
.login-nav,
.register-nav {
  /* background: transparent; */
  /* background-image: url("./assets/background-1.jpg"); */
  position: absolute;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.navbar-absolute button,
.navbar-not-landing button,
.navbar-absolute a,
.navbar-not-landing a {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.navbar-absolute {
  position: absolute;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

/* .navbar button:hover {
  background-color: #555;
  border-radius: 5px;
} */

.navbar-absolute button:focus,
.navbar-not-landing button:focus,
.navbar-absolute a:focus,
.navbar-not-landing a:focus {
  outline: none;
}

.nav-no-account-buttons {
  z-index: 4;
  margin: 0 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.navbar-not-landing {
  background-color: rgba(66, 86, 78, 0.58);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.create-now-btn {
  color: white;
  margin-top: 50px;
}

.AI-form {
  margin-top: 30px;
  border: 1px solid black;
  height: 60px;
  padding: 0px 30px;
  margin-right: 50px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.form-item {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-left: 1px solid black;
}

select {
  /* Base styles for the select element */
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 13px;
  color: #333;
  /* Adjust width as needed */
}

select:hover {
  border: 1px solid black;
  transition: 0.5s ease;
}

.budget-picker:focus {
  /* Styling for focus state */
  outline: none;
  border-color: #999;
}

.calendar {
  margin-left: 10px;
}

.guest {
  display: flex;
  justify-content: space-between;
}

.guests-picker {
  display: flex;
}

.guest-button {
  height: 20px;
}

.guest-mod {
  display: flex;
  margin-left: 2px;
  transform: translateY(20px);
}

.submit-ai {
  background-color: transparent;
}

.guest-num-display {
  margin-right: 10px;
  padding: 0px 0px 30px 10px;
}

.section-1 {
  color: white;
  border-radius: 0 0 30px 30px;
  height: 105vh;
  background-image: url("./assets/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-2 {
  height: 120vh;
  display: flex;
}

.section-3 {
  height: 120vh;
  background-image: url("./assets/background-3.jpg");
  background-repeat: no-repeat;
  border-radius: 30px 30px 0 0;
  background-size: 100%;
}

.card-landing {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 30vh;
  margin-right: 100px;
  margin-left: 100px;
  display: inline-block;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-tagline {
  margin-left: 50px;
  transform: translateY(52vh);
  align-items: center;
  justify-content: center;
}

.carousel-section {
  width: 100%;
  height: 90%;
  background-image: url("./assets/background-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 30px;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.carousel {
  display: flex;
  align-items: center;
  height: fit-content;
  white-space: nowrap;
  /* overflow: hidden; */
  /* overflow-x: scroll; */
  /* height: 100vh; */
  margin-top: 30px;
  animation: 60s slide infinite linear;
}

.white-blocks {
  color: white;
  z-index: 2;
  width: 25%;
  background-color: red;
}

.carousel-div {
  display: flex;
}

.carousel-headline {
  color: white;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  /* display: grid;
  align-items: center;
  justify-content: center; */
}

.carousel-title {
  display: block;
  box-sizing: border-box;
  width: 20%;
  border-bottom: 2px solid white;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 250px));
  }
}

.carousel-card-photo {
  width: 200px;
  height: 200px;
}

.carousel-cards {
  background-color: transparent;
  box-shadow: 0 7px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 2em;
  margin: 0 20px;
  width: 250px;
  perspective: 1px;
  height: 300px;
}

/* .carousel-writing {
  position: absolute;
} */

.reviews {
  margin-top: 0px;
  padding-top: 18%;
  color: white;
  margin: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-name,
.review-city,
.review-country,
.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-title-div {
  color: white;
  margin-left: 40px;
  width: 550px;
  border-bottom: 2px solid white;
  padding-top: 50px;
}

/* .reviews-title {
  display: grid;
  justify-content: center;
  align-items: center;
} */

.review-card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 50px;
}

.review-content {
  padding: 10px;
  width: 600px;
}

.generate-section {
  transform: translateY(200px);
  height: 100vh;
}

.landing-page-generate {
  height: 100px;
}

.results-section {
  display: grid;
  height: 100vh;
  background-color: pink;
}

.sticky {
  z-index: 100;
  position: fixed;
  background-color: rgba(66, 86, 78, 0.58);
}

.img-fade {
  display: none;
  opacity: 0;
  transition: display 0.5s ease;
}

.img-fade.active {
  display: inline;
  opacity: 1;
}

.about {
  height: 100dvh;
  background-color: pink;
}
